/* Add styles for index.html */

.frame {
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas1 {
    background: var(--main-background);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.stats {
    width: 80%;
    margin: 0 auto;
    height: 20%;
    justify-content: space-between;
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
}

#record {
    margin-top: 3rem;
    width: 80%;
    margin: 0 auto;
    font-size: 0.9rem;
}

#record > h5 {
    text-align: right;
}

/* Modal Background */
.modal-back{
    display: none;
    position: fixed;
    height: 75vh;
    width: 80%;
    margin: 0 auto;

    z-index: 1;

    overflow: auto;

    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* START GAME modal container */
#modal-start-box {
    display: flex;
    width: 50%;
    height: 50%;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid transparent;
    background-color: transparent;
}

/* GAME OVER modal container*/
#modal-end-box {
    width: 50%;
    height: 60%;
    margin: 0 auto;
    padding: 20px;
    flex-wrap: wrap;

    align-content: center;

    border: 1px solid rgb(0,0,0);
    background-color: rgba(100,100,100,0.5);
}

#modal-end-content {
    width:100%;
    height: 100%;
}
#modal-close-btn {
    align-self: flex-end;
    width: 1rem;
    height: 1rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;

    border: none;
    background-color: transparent;
}
#modal-end-content > h3 {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 3rem;
}
.modal-stats {
    margin: 0 0 2rem 0;
}
.modal-stats > p,
.score-form > p {
    margin-bottom: 1rem;
}
.score-form {
    margin-bottom: 2rem;
}
#player-name {
    text-align: center;
    height: 2rem;

    font-family: 'Press Start 2P', sans-serif;
    background-color: transparent;
    border: none;
}
#restart-btn {
    align-self: center;
    width: 60%;
    height: 2rem;

    font-family: 'Press Start 2P', sans-serif;
    font-size: 1rem;

}

#play-btn {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 3rem;

    color: var(--font-color);
    border: 1px solid transparent;
    background-color: transparent;
}