/* Add styles for index.html */

.frame {
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas1 {
    background: var(--main-background);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.stats {
    width: 80%;
    margin: 0 auto;
    height: 20%;
    justify-content: space-between;
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
}

#record {
    margin-top: 3rem;
    width: 80%;
    margin: 0 auto;
    font-size: 0.9rem;
}

#record > h5 {
    text-align: right;
}

/* Modal Background */
#modal-back{
    display: none;
    position: fixed;
    height: 75vh;
    width: 80%;
    margin: 0 auto;

    z-index: 1;

    overflow: auto;

    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Container */
#modal-box {
    display: flex;
    width: 50%;
    height: 50%;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid transparent;
    background-color: transparent;
}

#play-btn {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 3rem;

    color: var(--font-color);
    border: 1px solid transparent;
    background-color: transparent;
}