{% extends "layout.html" %}

{% block links %}

    <link rel="stylesheet" href="../static/index.css">
    <script src="../static/constants.js"></script>
    <script type="module" src="../static/script.js"></script>

{% endblock %}

{% block stats %}

    <ul class="stats flex">
        <li class="">
            <h3>SCORE: <span id="score">0</span></h3>
        </li>
        <li class="">
            <h3>TIME: <span>00:00</span></h3>
        </li>
    </ul>

{% endblock %}

{% block main %}

   <canvas id="canvas1"></canvas>

{% endblock %}

{% block record %}

    <div id="record">
        <h5>RECORD: <span>xxxx in xx:xx by XXX</span></h5> 
    </div>
    
{% endblock %}
