<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Snake</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <link rel="stylesheet" href="../static/styles.css">
    </head>
    <body>
        <header>
            <nav>
                <ul class="nav-list flex">
                    <li class="flex f-cntr"><a class="nav-link" href="/">GAME</a></li>
                    <li class="flex f-cntr"><a class="nav-link" href="/scores">SCORES</a></li>
                </ul>
            </nav>
        </header>
        <main class="flex f-cntr">
            <div class="frame">
                {% block main %}
                {% endblock %}
            </div>
        </main>
        <footer>
    
        </footer>
    </body>
</html>