/* Common stylesheet for all pages */

/*
* {
    border: 1px solid red;
}
*/

:root {
    --body-background: rgb(40,40,40);
    --main-background: rgb(20,20,20);
    --frame-border: rgb(120, 120, 120);
    
    --font-color: rgb(140,140,140); 
    --font-hover: rgb(220,220,220);
}


/* --------------------  S T A N D A R I Z E ----------------------- */

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 16px;

    background-color: var(--body-background);
    color: var(--font-color);
}

ul, ol {
    list-style: none;
}

a, a:hover {
    text-decoration: none;
    color: var(--font-color);
}


/* ..... F L E X    C L A S S E S ..... */
/* Display flex */
.flex {
    display: flex
}
/* Center */
.f-cntr {
    justify-content: center;
    align-items: center;
}
/* Columns */
.f-col {
    flex-direction: column;
}


/* --------------------  H E A D E R    T A G S -------------------- */

header {
    height: 15vh;
}

nav {
    width: 80%;
    margin: 0 auto;
}

nav {
    height: 80%;
}

.nav-list {
    height: 100%;
}

.nav-list > li {
    width: 50%;
}

.nav-link {
    transform: translateY(0.3rem);
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
}

.nav-link:hover {
    text-decoration: underline;
    color: var(--font-hover);
}



/* --------------------  M A I N    T A G S ------------------------ */

main {
    height: 75vh;
}

.frame {
    width: 80%;
    height: 100%;

    background-color: var(--main-background);
    border: 6px solid var(--frame-border)
}

/* --------------------  F O O T E R    T A G S -------------------- */

footer {
    padding-top: 0.5rem;
    height: 10vh;
    width: 100%;
}